<%- layout('layouts/boilerplate')%>
<div class="container mt-5 mb-5 show_item">
  <h1>category</h1>
  <div><%- category.description %></div>
  Category:<a href="/categories"> <%- category.category %> </a>
</div>
